

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BLOG</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
      Laura Shapiro's Portfolio
      </a>
      </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li>
        <a href="http://about.me/laura.shapiro">About.Me</a>
      </li>
      <li>
        <a href="http://github.com/lshapz">GitHub</a>
      </li>
      <li>
        <a href="http://medium.com/@lshapz">Medium</a>
      </li>
      </ul>
      </div>
  </div>
</nav>
<div class="container">
<h1 style="text-align: center;" class="page-header">THIS IS MY PORTFOLIO</h1>
{% load static %}
<img src="{% static 'posts/the_sky.jpg' %}" style="max-height:400px" class="img-responsive center-block">

<h2 style="text-align: center;" class="page-header">PROJECTS</h2>

{% for post in posts.all %}
  <a href="{% url 'post_details' post.id %}"><h3>{{ post.title }}</h3></a>
<h5>  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
  {{ post.pretty_pub_date }}</h5>

  <img src="{{post.image.url}}" class="img-responsive center-block" style="max-height:150px" />
  <br /> 
  {{ post.summary }}...  
  <br /> 
  <br /> 

{% endfor %}
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>